.App {
  text-align: center;
  margin: 20px;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;

}

ul li {
  display: inline-block;
  margin: 20px 20px;
  text-align: left;
  min-width: 300px;
}

.button {
  display: flex;
  justify-content: center;
}

img {
  border: solid black;
}