.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
  width: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


ul {
  display: inline-block;
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border: black;

}

ul li {
  margin: auto;
  text-align: left;
  min-width: 300px;
  width: 300px;
  height: 300px;  
  border: solid black;
}

button {
  margin: 5px 0px 0px 0px; 
  border: none;
  width: auto;
  height: auto;
}

button:hover {
  cursor: pointer;
} 

button:focus {
  outline: none;
}

.likes {
  margin: 5px 0px 0px 0px;
  border: none;
  width: auto;
  height: auto;
  text-align: center;
}

.description {
  background-color: black;
  color: white;
}